# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
Lib/
Scripts/
pyvenv.cfg
.env
.venv
pip-selfcheck.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/

# Site packages
site-packages/